html {
    overflow-y:scroll;
}

body {
    width: 80%;
    height: 100%;
    margin: auto;
    background-image: url(src/bd-quarter.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #414141;
}

#container, #proj-container, .coded-by-container {
    float: none;
    width: 100%;
    padding-bottom: 15%;
}

.center-container {
    float: none;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.center-title {
    float: none;
    color: #414141;
    margin-top: 5vw;
    margin-bottom: 3vw;
}

#logo img {
    float: left;
    width: 3vw;
    height: 3vw;
    opacity: 0.5;
    transition: ease 0.25s;
}

#logo img:hover {
    opacity: 1;
}

header {
    margin-top:5vw;
    padding-bottom: 10%;
}

nav {
    float: right;
    font-family: Karla, Helvetica, sans-serif;
    font-size: 1.75vw;
    font-weight: 700;
}

header a {
    color: #414141;
    text-decoration: none;
    padding-left: 2vw;
}

.unselected {
    opacity: 0.5;
    transition: ease 0.25s;
}

.unselected:hover {
    opacity: 1;
}

h1 {
    font-family: Overpass, Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 800;
    line-height: 0;
}

subtitle {
    font-family: Overpass, Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 800;
    line-height: 0;
    margin-top: 0;
    margin-bottom: -3vw;
    line-height: 8vw;
    float: left;
}

h2 {
    font-family: Karla, Helvetica, sans-serif;
    font-size: 1.75vw;
    font-weight: 400;
}

p, h3 {
    font-family: Karla, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
}

.action-link {
    text-decoration: underline;
    float: right;
    font-weight: 700;
}

.clickable {
    cursor: pointer;
    transition: ease 0.25s;
    
}
.clickable:hover {
    color: #f37120;
}

orange {
    color: #f37120;
    font-weight: 700;
}

yellow {
    color: rgba(240, 199, 63, 1);
}

.selected {
    color: #f37120;
    text-decoration: underline;
}

.pastworks {
    color: #414141;
}

portfolio-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 0.5vw;
    border-bottom-color: #f37120;
    border-bottom-width: 0.25vw;
    border-bottom-style:inset;
}

portfolio-nav a {
    font-family: Overpass, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: 800;
    margin-left: 15vw;
    margin-right: 15vw;
    cursor: pointer;
}

#folio {
    color: #414141;
    opacity: 0.5;
    transition: 0.25s ease;
    text-decoration: none;
}

#folio:hover {
    color: #f37120;
    opacity: 1;
}

#folio-select {
    color: #f37120;
    text-decoration: underline;
}

#hi-orange {
    color: #f37120;
    transition: ease 0.25s;
    display: inline-block;
    font-weight: 700;
}

#hi-orange:hover {
    color: white;
    background-color: #f37120;
}

.hi-yellow {
    color: rgba(240, 199, 63, 1);
    transition: ease 0.25s;
    display: inline-block;
    font-weight: 700;
}

.hi-yellow:hover {
    color: white;
    background-color: rgba(240, 199, 63, 1);
}

.hi-blue {
    color: rgba(44, 191, 199, 1);
    transition: ease 0.25s;
    display: inline-block;
    font-weight: 700;
}

.hi-innod {
    color: #1b93c0;
    transition: ease 0.25s;
    display: inline-block;
    font-weight: 700;
}

.hi-innod:hover {
    color: white;
    background-color: #1b93c0;
}

.hi-blue:hover {
    color: white;
    background-color: rgba(44, 191, 199, 1);
}

#hi-black {
    color: black;
    transition: ease 0.25s;
    display: inline-block;
    font-weight: 700;
}

#hi-black:hover {
    color: white;
    background-color: black;
}

.hi-here {
    color: rgba(72, 218, 208, 1);
    transition: ease 0.25s;
    display: inline-block;
    font-weight: 700;
}

.hi-here:hover {
    color: white;
    background-color: rgba(72, 218, 208, 1);
}

#corporate {
    color: white;
    background-color: #f37120;
    display: inline-block;
}

.titles {
    float: right;
    text-align: right;
    color: #414141;
    text-decoration: none;
}


.blurbs {
    float: right;
    text-align: right;
    color: #414141;
    margin-left: 40%;
}

.project-blurbs {
    float: left;
    text-align: left;
    color: #414141;
    margin-right: 15%;
}

.background {
    float: right;
    text-align: right;
    color: #414141;
    margin-left: 20%;
}

.proj-collection {
    width: 100%;
    display: inline-block;
    justify-content: center;
    text-align: center;
    float: none; 
}

.proj-img {
    margin-left: 1vw;
    margin-right: 1vw;
}

.heading {
    float: none;
    text-align: center;
}

.social {
    float: left;
}

.social img {
    margin-left: 1vw;
    margin-right: 1vw;
    float: left;
    width: 4vw;
    height: 4vw;
    opacity: 0.5;
    transition: ease 0.25s;
}

.social img:hover {
    opacity: 1;
}

berkeley {
    color: navy;
    font-weight: 700;
    transition: ease 0.25s;
}

berkeley:hover {
    color: white;
    background-color: navy;
    
}

innod {
    color: #1b93c0;
    font-weight: 700;
    transition: ease 0.25s;
}

innod:hover {
    color: white;
    background-color: #1b93c0;
}

.project-view {
    display: block;
    width: 36vw;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text-overlay {
    font-family: Karla, Helvetica, sans-serif;
    font-size: 1.75vw;
    font-weight: 400;
}

.date-overlay {
    font-family: Karla, Helvetica, sans-serif;
    font-size: 1.4vw;
    font-weight: 400;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.subtext-overlay {
    font-family: Karla, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.4vw;
    font-weight: 400;
    margin-top: 2vw;
}

.bdla-overlay {
    font-family: Karla, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 400;
}

.project-view img {
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
    height: 20.2vw;
    box-shadow: 1vw 1vw 2vw rgba(64, 64, 64, 0.15);
}

.shadow {
    box-shadow: 1vw 1vw 2vw rgba(64, 64, 64, 0.15);
    transition: ease 0.25s;
}

.shadow:hover {
    box-shadow: 1vw 1vw 2vw rgba(64, 64, 64, 0.25);
        
}

.bottle0 {
    width: 65vw;
}

.bottle1 {
    width: 20%;
}


.bottle2 {
    width: 45%;
}

.habbit0 {
    width: 50vw;
}

.habbit1 {
    width: 20%;
}

.habbit2 {
    width: 35.3%;
}

.habbit3 {
    width: 31%;
}

.hundred {
    margin: 0.25vw 0.25vw 0.25vw 0.25vw;
    width: 8.75%;
}

.bdla1 {
    width: 20%;
}

.bdla-img {
    margin: 0.5vw 0.5vw 0.5vw 0.5vw;
}

.bdla-process {
    width: 17.5%;
}

.bdla-apparel1 {
    width: 22.5%;
}

.bdla-apparel2 {
    width: 45%;
}

.full-width {
    width: 100%;
}

.proj-panel {
    position: relative;
    display: inline-block;
    margin-top: 2vw;
    width: 45%;
}

.proj-panel-image, .bdla-panel-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
    opacity: 0;
    transition: ease 0.25s;
}

#hundred, #habbit {
  background-color: rgba(243, 113, 32, 0.75);
}

#here {
    background-color: rgba(72, 218, 208, 0.75);
}

#bottle {
    background-color: rgba(44, 191, 199, 0.75);
}

#hira, #whitney {
    background-color: rgba(240, 199, 63, 0.9);
}

#bdla {
    background-color: rgba(0, 0, 0, 0.75);
}

#innod {
    background-color: rgba(27,147,192,0.75);
}

#bdla-selected {
    background-color: rgba(0, 0, 0, 1);
    opacity: 1;
}

#bdla-header {
    width: 50%;
    height: auto;
}


.proj-panel:hover #hundred, .proj-panel:hover #bottle, .proj-panel:hover #habbit, .proj-panel:hover #hira, .proj-panel:hover #bdla, .proj-panel:hover #here, .proj-panel:hover #innod, .proj-panel:hover #whitney {
  opacity: 1;
}

.bdla-panel:hover #bdla  {
  opacity: 1;
}

.proj-text {
    font-family: Overpass, Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 800;
  color: white;
  height: 100%;
    width: 100%;
  text-align: center;
    display: flex;
flex-direction: column;
justify-content: center;
}

.bdla-text {
    font-family: Overpass, Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 800;
  color: white;
  height: 100%;
    width: 100%;
  text-align: center;
    display: flex;
flex-direction: column;
justify-content: center;
}

.bdla-panel {
    position: relative;
    display: inline-block;
    margin-top: 2vw;
    width: 30%;
}


@media (orientation: portrait) {
    
    
    body {
        width: 90%;
        background-image: url(src/bd-square.png);
        background-repeat: repeat-y;
    }
    
    
    
    #logo img {
        float: left;
        width: 7.5vw;
        height: 7.5vw;
    }
    
    nav {
        font-size: 4vw;
    }
    
    portfolio-nav {
        display: flex;
        justify-content: center;
        text-align: center;
        border-bottom-color: #f37120;
        border-bottom-width: 0.5vw;
        border-bottom-style:inset;
        margin-top: 5vw;
    }
    
    portfolio-nav a {
        font-family: Overpass, Helvetica, sans-serif;
        font-size: 4vw;
        font-weight: 800;
        margin-left: 15vw;
        margin-right: 15vw;
        cursor: pointer;
    }
    
    header a {
        padding-left: 3vh;
    
    }
    
    .titles {
        text-align: center;
        float: none;
        margin-top: 10vh;
        margin-bottom: 10vw;
    }
    
    .blurbs {
        text-align: center;
        float: none;
        margin-left: 0;
    }
    
    .project-blurbs, .background {
        float: none;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    
    .proj-img {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }
    
    h1 {
        font-size: 10vw;
        line-height: 10vw;
    }
    
    subtitle {
        font-size: 8vw;
        display: block;
        float: none;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 10vw;
        margin-bottom: 0vw;
    }
    
    h2 {
        padding-top: 3vh;
        font-size: 5vw;
    }
    
    p {
        font-family: Karla, Helvetica, sans-serif;
        font-size: 4.75vw;
        font-weight: 400;
    }
    
    .action-link {
        float: none;
    }
    
    .social {
        float: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social img {
        float: none;
        width: 10vw;
        height: 10vw;
        margin-left: 2vw;
        margin-right: 2vw;
        opacity: 1;
    }
    
    .project-view {
        display: block;
        justify-content: center;
        text-align: center;
        width: inherit;
    }

    .left {
        float: none;
    }

    .right {
        float: none;
    }

    .first {
        margin-top: 0;
    }

    .project-view img {
        width: 72vw;
        margin-bottom: 5vw;
        box-shadow: 1.5vw 1.5vw 3vw rgba(64, 64, 64, 0.15);
    }
    
    .shadow {
        box-shadow: 1.5vw 1.5vw 3vw rgba(64, 64, 64, 0.15);
    }


    .center-title {
        margin-top: 12vw;
        margin-bottom: 4vw;
    }
    
    .bottle0, bottle1, bottle2, .habbit0, .habbit1, .habbit2 {
        width: 100%;
    }
    
    .bdla1 {
        width: 45%;
    }
    
    .bdla-process {
        width: 45%;
    }
    
    .hundred {
        width: 18%;
    }
    
    .proj-text {
    font-size: 6.8vw;
}
    
    .text-overlay {
        font-size: 4vw;
    }

    .subtext-overlay {
        font-size: 3vw;
    }

    .date-overlay {
        font-size: 3vw;
    }
    
    .proj-panel {
        margin: auto;
        float: none;
        display: block;
        justify-content: center;
        text-align: center;
        margin-top: 5vw;
        width: 90%;
    }
    
    .bdla-panel {
        margin: auto;
        float: none;
        display: inline-block;
        justify-content: center;
        text-align: center;
        margin-top: 5vw;
        width: 90%;
    }
    
    .proj-panel-image {
        opacity: 1;
    }
    
    #bdla {
        opacity: 1;
        background-color: rgba(0,0,0,0.65);
    }
    
    #bottle {
        opacity: 1;
        background-color: rgba(44, 191, 199, 0.5);
    }
    
    #habbit {
        opacity: 1;
        background-color: rgba(243, 113, 32, 0.65);
    }

    #here {
        opacity: 1;
        background-color: rgba(72, 218, 208, 0.75);
    }
    
    #hira, #whitney {
        opacity: 1;
        background-color: rgba(240, 199, 63, 0.75);
    }

    #innod {
        opacity: 1;
        background-color: rgba(27,147,192,0.65);
    }

    #whitney {
        opacity: 1;
        background-color: rgba(254, 223, 17, 0.65);
    }
    
    .bdla-panel:hover #bdla, .proj-panel:hover #bottle {
      opacity: 1;
    }
    
    .proj-panel #bdla {
        opacity: 1;
    }
    
    .proj-panel:hover #bdla {
        opacity: 1;
    }
    
    .coded-by-container {
    display: block;
    justify-content: center;
    text-align: center;
    }
    
    #bdla-header {
        width: 100%;
    }
}