#container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-image: url(bd_bg-black.png); 
    background-size: cover;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2.5vw;
    color: #ffffff;
    transition: 0.3s ease;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.0vw;
    color: #ffffff;
    transition: 0.3s ease;
    font-weight: 300;
    text-align: left;
}

p {
    font-family: 'Open Sans', sans-serif;
    padding-left: 2vw;
    padding-right: 2.2vw;
    font-weight: 400;
    font-size: 1.2vw;
    text-align: justify;
    color: black;
}

a {
    text-decoration: none;
    transition: 0.3s ease;
}

a h1 {
    font-weight: 700;
    float: left;
    font-size: 2vw;
}

a h1:after {
    position: absolute;
    bottom: 0;
    height: 0.25vw;
    content: "";
    left: 0;
    background: #5a3501;;
    transition: width 0.3s ease 0s;
    width: 0;
}

a h1:hover {
    transform: scale(1.05);
    color: #5a3501;
}

a h1:hover:after { 
    width: 100%; 
}

#nav { 
    background-color: rgba(0, 0, 0, 0.8);
    display: inline;
    width: 33.55vw;
    height: 3.65vw;
    z-index: 4;
    position: absolute;
    top: -4vw;
    left: -0.2vw;
    animation-fill-mode: forwards;
}

#nav1 {
    animation-fill-mode: forwards;
    transition: background-color 0.5s ease;
}

.nav1color {
    background-color: #ffc573;
}

#nav2 {
    animation-fill-mode: forwards;
    transition: background-color 0.5s ease;
}

.nav2color {
    background-color: #ff8373;
}

#nav3 {
    animation-fill-mode: forwards;
    transition: background-color 0.5s ease;
}

.nav3color {
    background-color: #73c7ff;
}

.slideNav {
    animation: 2s ease-out navSlide;
}

@keyframes navSlide {
    100% {
        top: 0;
    }
}

.navtext {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #ffffff;
    transition: 0.3s ease;
    text-align: center;
    position: relative;
    font-size: 1.4vw;
    float: right;
    padding-top: 1vw;
    padding-bottom: 1.04vw;
    padding-left: 2.6vw;
    padding-right: 2.6vw;
}


.navtext:after {   
    position: absolute;
    bottom: 0;
    height: 0.4vw;
    content: "";
    left: 50%;
    background: #ffffff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navtext:hover:after { 
    width: 100%; 
    left: 0; 
}

img {
    display: block;
    margin: auto;
    transition: 0.3s ease;
}

#overlay {
    z-index: 9999;
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 1);
    position:absolute;
    display:block;
    left: 0;
    top: 0;
}

/* overlay slideOut animation */
.slideDown {
    animation: 1.5s ease downSlide;
    animation-fill-mode: forwards;
}

@keyframes downSlide {
  0% {
      transform: translateY(0);
    }
  100% {
      transform: translateY(100%);
    }
}

#overlay h1 {
    position: absolute;
    font-weight: 800;
    font-size: 1.775vw;
    top: 9vh;
    left: 6vw;
    text-align: left;
}

#overlay h2 {
    position: absolute;
    padding-left: 9pt;
    border-left: 5px solid white;
    font-size: 1.3vw;
    top: 15vh;
    left: 6vw;
    text-align: left;
}

#loadtext {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2vw;
    color: #ffffff;
    top:82vh;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    animation-fill-mode: forwards;
}

#bgimg {
    position: absolute;
    margin: auto;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15vh;
    width: 15vh;
    animation-fill-mode: forwards;
}

#spinner {
    width: 23vh;
    height: 23vh;
    border-top: 5px solid #ffffff;
    border-radius: 100%;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1.5s infinite linear;
    transition: 1.5s ease;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}


.fadein {
    animation: 1.5s ease opaque;
}

@keyframes opaque {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.fadeout {
    opacity: 0;
}


/* columns slide in animation */

.col1slide {
    
    animation: 1.5s ease slideInFromTop;
}

.col2slide {
    animation: 1.75s ease slideInFromBottom;
}

.col3slide {
    animation: 2s ease slideInFromTop;
}

@keyframes slideInFromTop {
  100% {
    top: 0;
  }
}

@keyframes slideInFromBottom {
  100% {
    top: 0;
  }
}

/* slide in/out on click */

.slideLeft {
    animation: 2s ease leftSlide;
}

@keyframes leftSlide {
    100% {
        left: -33.333vw;
    }
}

.slideLeft2 {
    animation: 2s ease leftSlide2;
}

@keyframes leftSlide2 {
    100% {
        left: -33.334vw;
    }
}

.slideIn {
    animation: 2s ease inSlide;
}

@keyframes inSlide {
    100% {
        left: 0;
    }
}

.slideIn2 {
    animation: 2s ease inSlide2;
}

@keyframes inSlide2 {
    100% {
        left: -1vw;
    }
}

/* rules for columns */
.column {
    position: relative;
    float: left;
    height: 100vh;
    display: block;
    background-image: url("bd_bg-alpha.png");
    background-size:contain;
    background-repeat: repeat-y;
}

.column img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 28vw;
    height: 28vw;
    margin: -14vw 0 0 -14vw;
    transform: scale(0.95);
}

@keyframes sizedown {
    0% {
        font-size: 3vw;
    }
    100% {
        font-size: 2.5vw;
    }
}

.column h1 {
    font-size: 2.5vw;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: sizedown 0.3s ease;
    animation-fill-mode: forwards;
}

/* increase column elements size on hover */
@keyframes sizeup {
    100% {
        font-size: 3vw;
    }
}

.column:hover h1{
    animation: sizeup 0.3s ease;
    animation-fill-mode: forwards;
}


.column:hover img{
    transform: scale(1);
}


/* change column color on hover */
#col1 {
    z-index: 3;
    position: absolute;
    width: 33.333%;
    top: -100%;
    left: 0%;
    transition: filter 0.75s ease;
    background-color: #ffcf8c;
    animation-fill-mode: forwards;
    filter: grayscale(100%);
}
#col1:hover {
    transition: filter 0.75s ease;
/*    background-color: #ffc573;*/
    filter: grayscale(0);
}
#col2 {
    z-index: 2;
    position: absolute;
    width: 33.334%;
    top: 100%;
    left: 33.333%;
    transition: filter 0.75s ease;
    background-color: #ff9a8c;
    animation-fill-mode: forwards;
    filter: grayscale(100%);
}
#col2:hover {
    transition: filter 0.75s ease;
/*    background-color: #ff8373;*/
    filter: grayscale(0);
}
#col3 {
    z-index: 1;
    position: absolute;
    width: 33.333%;
    top: -100%;
    left: 66.667%;
    transition: filter 0.75s ease;
    background-color: #8cd1ff;
    animation-fill-mode: forwards;
    filter: grayscale(100%);
}
#col3:hover {
    transition: filter 0.75s ease;
/*    background-color: #73c7ff;*/
    filter: grayscale(0);
}

#box-about {
    width: 66.667%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 0.5vw solid #5a3501;
    background-color: #ffcf8c;
    background-image: url(bd_panel_alpha.png);
    background-size: contain;
    background-repeat: repeat-y;
    transition: left 2s ease;
    overflow-x: hidden;
    overflow-y: scroll;
}

#box-software {
    width: 66.667%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 0.5vw solid #5a010e;
    background-color: #ff9a8c;
    background-image: url(bd_panel_alpha.png);
    background-size: contain;
    background-repeat: repeat-y;
    transition: left 2s ease;
    overflow-x: hidden;
    overflow-y: scroll;
}

#box-design {
    width: 66.667%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 0.5vw solid #012f5a;
    background-color: #8cd1ff;
    background-image: url(bd_panel_alpha.png);
    background-size: contain;
    background-repeat: repeat-y;
    transition: left 2s ease;
    overflow-x: hidden;
    overflow-y: scroll;
}

.panelh {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.75vw;
    text-decoration: underline;
    text-align: left;
    padding-left: 2vw;
}

a h2 {
    color: #000000;
    display: inline-block;
    font-size: 1.1vw;
    text-align: left;
    margin-left: 2vw;
    margin-right: -1vw;
    transition: 0.3s ease;   
}

a h2:after {  
    position: absolute;
    bottom: 0;
    height: 0.15vw;
    content: "";
    left: 0;
    background: #000000;
    transition: width 0.3s ease 0s;
    width: 0;
}

a h2:hover {
    transform: scale(1.025);
}

a h2:hover:after { 
    width: 100%; 
}

.row {
    margin-left: 4vw;
    margin-bottom: 0.75vw;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Create four equal columns that floats next to eachother */

.thumbnail {
    width:100%;
    text-align: center;
}

.modalcol {
    display: inline;
    overflow-x: hidden;
}

.thumbcol {
    display: inline-block;
}

.modalcol img {
    float: left;
    margin-right: 1vw;
    margin-bottom: 1vw;
    padding: 0.25vw;
    height: 25vh;
    display: inline-block;
    }

.thumbcol img{
    float: left;
    height:20vh;
    width: auto;
}


/* The Modal (background) */
.modal {
    z-index: 11;
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: rgba(0,0,0,0.8);
}



.modal-content {
    position: relative;
    text-align: center;
}

.modal-content a img{
    display: inline-block;
    text-align: center;
    margin-top: -10vh;
    height: 75vh;
    width: auto;
}


/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 1vw;
  right: 2vw;
  font-size: 4vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

.mySlides2 {
  display: none;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
    padding: 0.5vw;
}

img.demo {
  opacity: 0.6;
    height: 10vw;
    width: auto;
    margin: auto;
}


img.demo2 {
  opacity: 1;
    height: 10vw;
    width: auto;
    margin: auto;
}

img.demo3 {
  opacity: 1;
    height: 10vw;
    width: auto;
    margin: auto;
}

img.demo4 {
  opacity: 1;
    height: 10vw;
    width: auto;
    margin: auto;
}

.cursor {
  cursor: pointer;
}

.active {
    opacity: 1;
}

.inactive {
    opacity: 0.6;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 4px 4px 15px 0 rgba(90, 1, 14, 0.8);
}

img.hover-shadow2 {
  transition: 0.3s
}

.hover-shadow2:hover {
  box-shadow: 4px 4px 15px 0 rgba(1, 47, 90, 0.8);