h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28pt;
    text-align: center;
    color: #000000;
    transition: 0.3s ease;
}

@keyframes fadetextout {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

@keyframes fadetextin {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

#overlay h1 {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-size: 20pt;
    color: #ffffff;
    top: 65vh;
    left: 0;
    right: 0;
    text-align: center;
}

#loadtext {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    color: #ffffff;
    top:85vh;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    animation-fill-mode: forwards;
}

.fadein {
    animation: 1s ease fadetextin;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18pt;
    text-align: center;
    color: black;
}

img {
    display: block;
    margin: 0 auto;
    padding-top: 30%;
    transform: scale(0.8);
    transition: 0.3s ease;
}

/* columns slide in */
.wrapper {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.wrapper.loading:nth-child(odd) {
    -webkit-transform: translate(0, 500px)
    transform: translate(0, 500px)
}

.wrapper.loading:nth-child(even) {
    -webkit-transform: translate(0, -500px)
    transform: translate(0, -500px)
}

/* rules for columns */

.column {
    float: left;
    width: 33%;
    height:100vh;
    display: block;
    background-image: url("bd_bg-alpha.png");
    background-size:contain;
    background-repeat: repeat-y;
}

.column:hover h1{
    transform: scale(1.2);
}
.column:hover img{
    transform: scale(1.0);
}
/* diff color transition for each column */
#col1 {
    transition: background-color 0.3s ease;
    background-color: #ffcf8c;
}
#col1:hover {
    transition: background-color 0.3s ease;
    background-color: #ffc573;
}
#col2 {
    transition: background-color 0.3s ease;
    background-color: #ff9a8c;
}
#col2:hover {
    transition: background-color 0.3s ease;
    background-color: #ff8373;
}
#col3 {
    transition: background-color 0.3s ease;
    background-color: #8cd1ff;
}
#col3:hover {
    transition: background-color 0.3s ease;
    background-color: #73c7ff;
}

.col1slide {
    animation: 1.5s ease slideInFromTop;
}

.col2slide {
    animation: 1.75s ease slideInFromBottom;
}

.col3slide {
    animation: 2s ease slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}



.spinner{
    width: 200px;
    height: 200px;
    border-top: 5px solid #ffffff;
    border-radius: 100%;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    animation: spin 1.5s infinite linear;
    
}

#overlay {
    z-index: 9999;
    width:100vw;
    height:100vh;
    background-image: url(bd_load.png);
    background-size:cover;
    background-position: center;
    position:absolute;
    display:block;
    left: 0;
    top: 0;
}

.slideOut {
    animation: 1.5s ease slidedown;
    animation-fill-mode: forwards;
}

@keyframes slidedown {
  0% {
      transform: translateY(0);
    }
  100% {
      transform: translateY(100%);
    }
}


@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}



