h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28pt;
    text-align: center;
    color: black;
    transition: 0.3s ease;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18pt;
    text-align: center;
    color: black;
}

img {
    display: block;
    margin: 0 auto;
    padding-top: 30%;
    transition: 0.3s ease;
}


/* rules for columns */
.column {
    float: left;
    width: 33%;
    height:100vh;
    overflow: hidden;
    background-image: url("bd_bg-alpha.png");
    background-size:contain;
    background-repeat: repeat-y;
}
.column:hover h1{
    transform: scale(1.15);
}
.column:hover img{
    transform: scale(1.15);
}
/* diff color transition for each column */
#col1 {
    transition: background-color 0.3s ease;
    background-color: #ffcf8c;
}
#col1:hover {
    transition: background-color 0.3s ease;
    background-color: #ffc573;
}
#col2 {
    transition: background-color 0.3s ease;
    background-color: #ff9a8c;
}
#col2:hover {
    transition: background-color 0.3s ease;
    background-color: #ff8373;
}
#col3 {
    transition: background-color 0.3s ease;
    background-color: #8cd1ff;
}
#col3:hover {
    transition: background-color 0.3s ease;
    background-color: #73c7ff;
}

/* spinner */
.spinner{
    width: 200px;
    height: 200px;
    border-top: 5px solid #ffffff;
    border-radius: 100%;
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    animation: spin 1.5s infinite linear;
    
}

#overlay {
    width:100%;
    height:100%;
    background-image: url(bd_load.png);
    background-size:cover;
    position: absolute;
    display:block;
    left: 0;
    top: 0;
    transition: 2s ease;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

